* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f5ce9f;
}

.ac-button {
    color: white;
    background-color: #b8581e;
    border-color: #f5ce9f;
    height: 40px;
    width: 80px;
}

.ac-button:disabled {
    color: greytext;
    background-color: buttonface;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-success {
    color: green;
}

.text-error {
    color: red;
}

.text-flash {
    animation: flasher 1s linear infinite;
}


/* Chess icon font def */
@font-face {
    font-family: 'chess-icon';
    src: url('fonts/casefont.ttf');
}

@keyframes flasher {
    50% {
        opacity: 0;
    }
}